* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal; 
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
 
 
}



/* Botón del menú arriba a la izquierda */
#menu-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 30px;
  background: #fdf8fb;
  color: #781a5a;
  width: 40px;              /* achicar tamaño del botón */
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 6px;             /* espacio interno */
  border: 2px solid #9f72ae;   /* borde del botón */
  border-radius: 12px; 
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1001;

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


/* Menú lateral oculto al inicio (lado izquierdo) */
nav {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background: #e7d7ea;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 1000;
}

nav a {
  display: block;
  padding: 15px;
  color: #781a5a;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  background: #fdf8fb;
}

/* Cuando el menú está activo */
nav.active {
  left: 0;
}

/* Secciones verticales con tamaño fijo */
section {
 
  width: 100%;       /* ocupa todo el ancho disponible */
  height: 100vh;     /* alto de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #e7d7ea;
  margin: 0 auto; /* centra horizontalmente */
}

/* Colores distintos para diferenciar secciones */
#inicio {
  background-image: url("fondoinicio.jpg"); /* tu imagen */
  background-size: cover;        /* la imagen cubre toda la sección */
  background-position: center;   /* centrada */
  background-repeat: no-repeat;  /* no se repita */
  width: 100%;                   /* ocupa todo el ancho disponible */
  height: 100vh;
}

@media (max-width: 768px) {
  #inicio {
    background-image: url('fondoiniciocelu.png'); /* más vertical */

  }
}
/* Secciones en celulares */
@media (max-width: 768px) {
  #inicio {
    height: 80vh;   /* Más chicas, 70% de la pantalla */
    padding: 30px 0px; /* Menos espacio interno */
    overflow-x: hidden; /* evita desplazamiento lateral */
 
  }
}
@media (max-width: 768px) {
  #sobre-mi {
    height: 5vh !important ;   /* Más chicas, 70% de la pantalla */
    padding: 30px 0px; /* Menos espacio interno */
    overflow-x: hidden; /* evita desplazamiento lateral */
    min-height: 70vh;
  }
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out; /* efecto suave */
}

.slides img {
  width: 100%;
  height: auto;
  flex-shrink: 0; /* evita que se achiquen */
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #781a5a4d;
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10; /* importante: que esté por encima de las imágenes */
}

button.prev { left: 10px; }
button.next { right: 10px; }

#sobre-mi { 
  background: #e7d7ea;
  width: 100%;
  height: 100vh;


}
#habilidades{ background: #df7bf0; }


#proyectos { 
  background: #d6afc6;
     display: flex;
     text-align: center;
      justify-content: space-between; /* coloca texto e imagen uno al lado del otro */
  align-items: center; /* los centra verticalmente */
     
       flex-wrap: wrap; /* para que se apilen cuando no haya espacio */
      gap: 3%;
      padding: 0px;
 position: relative;
flex: 1;



}

.contenedor{
   background: #d6afc6;
     display: flex;
  
 
      justify-content: space-between; /* coloca texto e imagen uno al lado del otro */
     
   flex-wrap: wrap; /* para que se apilen cuando no haya espacio */
      gap: 1%;
      padding: 20px;
 flex: 1;
}
 .card {
      background: white;
      border-radius: 12px;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
      padding: 20px;
      width: 40%;
      height: 400px;
     flex: 1;/*hace que se use todo el espacio entre items */
     font-size: large;
     min-width: 500px; /* nunca se achica más de 300px, hay q darle el limite o sino no sabe cuando empezar a bajar */

     
    }
    .card p,h3,h4{
      color: #781a5a;
    }
  .card a {
     color: #781a5a;
      margin: 10%;
     
  } 
    iframe {
      width: 100%;
      height: 320px;
      border: none;
      border-radius: 8px;
      min-width: 400px;
      max-width: 500px; 
    }

    h2 {
      margin-top: 0;
    }
 #proyectos h2{
  color: #781a5a;
  position: absolute;
  top: 10%;             /* centro vertical */
  left: 50%;            /* centro horizontal */
  transform: translate(-50%, -50%); /* centra completamente */
  font-size: 2rem;
  text-align: center;
 }
#proyectos h3 {
  margin-bottom: 10%;
  margin-top: 10%;

}





#contacto { background: #781a5a; }
@media (max-width: 768px) {
  .section {
    background-position: top center; /* centrado más hacia arriba */
    /* opcional: cambiar la imagen a una más vertical */
    background-image: url('fondoinicio.jpg');
  }

  .card {
  margin: 20%;
  padding: 1%;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  max-width: 380px;
  min-width: 380px;
  min-height: 600px;
  max-height: 900px;
  }
  .contenedor {
    text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-width: 300px;

  }
 
  iframe {
  min-width: 373px;
  min-height: 500px;
  margin: 0%;
  padding-right: 1%;
  padding-right: 0%;

  }
  #proyectos h2{
   top: 5%;  
   
 }
}
